@import url('../../styles/mixins.css');

.result-section {
    @mixin responsive width, 587;
    @mixin responsive height, 202;
    @mixin responsive padding-top, 30;
    @mixin responsive padding-right, 40;
    @mixin responsive padding-bottom, 30;
    @mixin responsive padding-left, 30;
    background-color: var(--element-color);
    @mixin responsive border-radius, 60;
    overflow: hidden;
    @mixin flex-just-align start, center;
    @mixin responsive gap, 30;
}

.image-result {
    @mixin responsive width, 278;
    @mixin responsive height, 202;
    @mixin responsive border-radius, 29;
    background-color: var(--main-background-color);
    overflow: hidden;
    @mixin flex-just-align center, center;
}

.image-result__image {
    @mixin responsive width, 278;
    @mixin responsive height, 202;
    @mixin text-ser 20, 700, 1;
    color: var(--title-text-color)
}

.information-result {
    @mixin flex-just-align start, start;
    flex-direction: column;
    height: 100%;
}

.information-result__title {
    @mixin text-ser 24, 500, 1;
    @mixin responsive margin-bottom, 15;
    color: var(--title-text-color);
}

.information-result__author {
    @mixin text-ser 20, 400, 1;
    @mixin responsive margin-bottom, 49;
    color: var(--title-text-color);
}

.information-result__sponsor-checkbox {
    @mixin text-ser 16, 400, 1;
    color: var(--title-text-color);
    @mixin flex-just-align start, center;
    @mixin responsive gap, 6;
    @mixin responsive margin-bottom, 10;
}

#sponsor {
    appearance: none;
    @mixin responsive width, 32;
    @mixin responsive height, 32;
    background: var(--header-background-color);
    @mixin responsive border-radius, 60;
    cursor: pointer;
}

#sponsor:checked {
    background-image: url('/images/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.information-result__download-button-place {
    display: flex;
}

.information-result__download {
    @mixin flex-just-align start, center;
}

.information-result__audio-check {
    @mixin flex-just-align start, center;
}

.information-result__download-button {
    @mixin responsive width, 83;
    @mixin responsive height, 33;
    @mixin text-ser 14, 700, 1;
    border-radius: 2.1vw 0px 0px 2.1vw;
    border: none;
    background-color: var(--buttons-color);
    color: #fff;
    cursor: pointer;
}

.information-result__drop-list {
    @mixin responsive width, 33;
    @mixin responsive height, 33;
    border-radius: 0px 2.1vw 2.1vw 0px;
    background-color: #2B2B2B;
    border: none;
    cursor: pointer;
    @mixin responsive margin-right, 10;
}

.information-result__audio-check {
    @mixin flex-just-align start, center;
    @mixin responsive gap, 6;
    @mixin text-ser 16, 400, 1;
    color: var(--title-text-color);
}

.information-result__checkbox {
    appearance: none;
    background: var(--buttons-color);
    @mixin responsive width, 32;
    @mixin responsive height, 32;
    @mixin responsive border-radius, 60;
    cursor: pointer;
}

.information-result__checkbox:checked {
    background-image: url('/images/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.result-section__title--visually-hidden {
    display: none;
}


@media screen and (max-width: 576px) {
    .result-section {
        @mixin responsive width, 280;
        @mixin responsive height, 149;
        @mixin responsive padding-top, 15;
        @mixin responsive padding-right, 15;
        @mixin responsive padding-bottom, 15;
        @mixin responsive padding-left, 15;
        @mixin responsive border-radius, 30;
        @mixin responsive gap, 10;
    }
    
    .image-result {
        @mixin responsive width, 155;
        @mixin responsive height, 113;
    }

    .information-result__title {
        @mixin responsive font-size, 14;
    }

    .information-result__author {
        @mixin responsive font-size, 14;
        @mixin responsive margin-bottom, 11;
    }
    
    .information-result__sponsor-checkbox {
        @mixin responsive font-size, 11;
        @mixin responsive gap, 2;
    }

    #sponsor {
        @mixin responsive width, 23;
        @mixin responsive height, 23;
    }

    .information-result__download {
        flex-direction: column;
    }

    .information-result__download-button {
        @mixin responsive width, 70;
        @mixin responsive height, 27;
        @mixin responsive font-size, 11;
    }

    .information-result__drop-list {
        @mixin responsive width, 27;
        @mixin responsive height, 27;
    }

    .information-result__download-button-place {
        order: 1;
    }

    .information-result__audio-check {
        @mixin responsive font-size, 11;
        @mixin responsive gap, 2;
        order: 0;
    }

    .information-result__checkbox {
        @mixin responsive width, 23;
        @mixin responsive height, 23;
    }

    .information-result__drop-list {
        margin: 0;
    }
}