:root {
    --element-color: #424242;
    --buttons-color: #222222;
    --main-text-color: #E1E0E6;
    --title-text-color: #FFFFFF;
    --delete-button-color: #530D0D;
}


@media (prefers-color-scheme: light) {
    :root {
        --element-color: #FFFFFF;
        --buttons-color: #EDEEF0;
        --main-text-color: #222222;
        --title-text-color: #000000;
        --delete-button-color: #530D0D;
    }
}