:root {
  --element-color: #424242;
  --buttons-color: #222222;
  --main-text-color: #e1e0e6;
  --title-text-color: #ffffff;
  --delete-button-color: #530d0d;
  --main-background-color: #141414;
  --header-background-color: #222222;
  --git-color: #fff;
  --info-color: #fff;
  --modal-color: #6b6b6c;
  --info-yt-color: #b3b3b4;
  --hover-button: #666666;
}

@media (prefers-color-scheme: light) {
  :root {
    --element-color: #ffffff;
    --main-text-color: #020101;
    --title-text-color: #000000;
    --delete-button-color: #530d0d;
    --main-background-color: #edeef0;
    --header-background-color: #ffffff;
    --git-color: #000;
    --info-color: #222222;
    --modal-color: #ececed;
    --hover-button: #666666;
  }
}
