:root {
    --element-color: #424242;
    --buttons-color: #222222;
    --main-text-color: #E1E0E6;
    --title-text-color: #FFFFFF;
    --delete-button-color: #530D0D;
    --main-background-color: #141414;
    --header-background-color: #222222;
    --git-color: #fff;
    --info-color: #fff;
    --modal-color: #6B6B6C;
    --info-yt-color: #B3B3B4;
    --hover-button: #666666;
}


@media (prefers-color-scheme: light) {
    :root {
        --element-color: #FFFFFF;
        --main-text-color: #020101;
        --title-text-color: #000000;
        --delete-button-color: #530D0D;
        --main-background-color: #EDEEF0;
        --header-background-color: #ffffff;
        --git-color: #000;
        --info-color: #222222;
        --modal-color: #ECECED;
        --hover-button: #666666;
    }
}