@import url('../../../shared/styles/mixins.css');
@import url('../../../shared/styles/root.css');


.header {
    width: 100%;
    @mixin responsive height, 80;
    @mixin flex-just-align center, center;
    @mixin responsive gap, 2;
    background-color: var(--header-background-color);
}

.logo {
    @mixin responsive width, 68;
    @mixin responsive height, 68;
}

.title {
    @mixin text-ser 48, 700, 1;
    color: var(--title-text-color);
}

@media screen and (max-width: 576px) {
    .title {
        @mixin text-ser 24, 500, 1;
    }
}